*{margin: 0; padding: 0;box-sizing: border-box;font-family: arial;}

body{
    background:url('work8.1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.container{
    width: 90%;
    margin: auto;
    padding: 30px 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h3{
    color:white;
    font-size: 20px;
}

.container h3 span{
    color:rgb(230, 25, 161);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}

nav ul li{
    list-style: none;
    
}

nav ul li a{
    color:aliceblue;
    text-decoration: none;
}

.btn button{
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin: 15px;
    width:80px;
    border-radius: 10px;
    background: none;
}
.hero{
    text-align: center;
    margin-top: 80px;
}

.hero h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

.hero h1 span{
    color:rgb(230, 25, 161);
}

.hero p{
    color:white;
    text-align: center;
    padding:20px;
   line-height: 1.5;
   margin-top: 40px;
}

.hero button{
   border:none;
   background-color: rgb(230, 25, 161);
   padding: 12px;
   margin: 15px;
   border-radius: 20px;
   width:200px;
   margin-top: 30px;
}

.btn2 button{
    align-items: center;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:180px;
    margin-top:100px;
}
.card1{
    width: 260px;
    height: 220px;
    border-radius: 25px;
    position: relative;
    padding: 20px;
}

.card1 img{
    width: 300px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.card1 p{
    position: absolute;
    bottom: 5px;
    left: 20px;
    color:white;
    font-size: 25px;
    font-weight: bold;
    padding-right: 5px;
}

